@model Vidly.ViewModels.RandomMovieVM
<table>
    <th>
        Customers
    </th>
    <tbody>
    @foreach(var customer in Model.Customers)
    {
            <tr>customer.Name</tr>
    }
    </tbody>
</table>
