<table id="customers" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">
                Customers
            </th>
            <th scope="col">
                MemberShip Type
            </th>
            <th scope="col">
                Delete
            </th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
@section Scripts{
    <script>
        $(document).ready(function (){
            //add datatables to customer


            var table = $("#customers").DataTable({
                ajax: {
                    url: "/api/customer",
                    dataSrc: function (response) {
                        return response; // Return the array of customer objects directly
                    }
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, customer) {
                            return "<a href='/customer/edit/" + customer.id + "'>" + data + "</a>";
                        }
                    },
                    {
                        data: "membershipType.name"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-customer-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });

            //call ajax for delete the customer
            $("#customers").on("click", ".js-delete", function () {
                var btn = $(this);
                bootbox.confirm("Are you sure to delete this customer?", function (result) {
                    if(result){
                        var url = "/api/customer/" + btn.attr("data-customer-id");
                        $.ajax({
                            URL: url,
                            method: "delete",
                            success: function () {
                                table.row(btn.parents("tr")).remove().draw();
                            }

                        })
                    }
                })
            })
        });
    </script>
}