@using System.Collections.Generic
@using Vidly.Models.DbModels;
@model List<Movie>
@{
    ViewData["Title"] = "Movies Page";
}
<h1>Movies</h1>

@Html.ActionLink("New","New","Movies",null,new { @class="btn btn-success"})
<br />
<br />
@if (Model.Count == 0)
{
    <text>No one has rent this movie before</text>
}
else
{
    <table id="movies" class="table table-bordered table-hover">
        <tr>
            <th scope="col">
                Movies
            </th>
            <th scope="col">
                Genre
            </th>
            <th scope="col">
                Delete
            </th>
        </tr>
        
            @foreach (var movie in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(movie.Name,"Edit","Movies",new {id=movie.Id},null)
                    </td>
                    <td>
                        @movie.Genres.Name
                    </td>
                    <td>
                        <button class="btn btn-danger js-delete" data-movie-id="@movie.Id">Delete</button>
                    </td>
                </tr>
            }
    </table>
}
@section Scripts{
    <script>
        $(document).ready(function (){
            $("#movies .js-delete").on("click", function () {
                var btn = $(this);
                bootbox.confirm("Are you sure to delete this movie?",function (result){
                    if(result){
                        var url="/api/movie/"+ btn.attr("data-movie-id");
                        $.ajax({
                            url: url,
                            method: "delete",
                            success: function () {
                                btn.parents("tr").remove();
                            }
                        })
                    }
                })
            })
        })
    </script>
}